.DS_Store
.vlt
node_modules
atlassian-ide-plugin.xml
*.iml
.idea/**
*.class
*.sublime-project
*.sublime-workspace

tmp/

**/gen-external-apklibs/**
**/generated-sources/**
**/target/**
**/assets/www/**